<!DOCTYPE html>
<html lang="en">
<head>
  <title>MDI CMS Import To Fhir</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<form method="POST" th:action="@{upload-csv-file}" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <div class="form-check">
	        <input class="form-check-input" type="radio" name="mappingTypeMDI" id="mappingTypeMDI" th:name="mappingType" th:value="VRDR"></input>
	        <label class="form-check-label" for="mappingTypeMDI">MDIFHIR</label>
        </div>
        <div class="form-check">
	        <input class="form-check-input" type="radio" name="mappingTypeVRDR" id="mappingTypeVRDR"  th:name="mappingType" th:value="MDI"></input>
	        <label class="form-check-label" for="mappingTypeVRDR">VRDRFHIR</label>
        </div>
        <div class="form-check">
	        <input class="form-check-input" type="radio" name="mappingTypeMDIXLSX" id="mappingTypeMDI" th:name="mappingType" th:value="MDIXLSX"></input>
	        <label class="form-check-label" for="mappingTypeMDIXLSX">MDIXLSX</label>
        </div>
        <input type="file" name="file" class="form-control-file" id="file" accept=".csv"></input>
        <label for="file">Select a CSV or XLSX file</label>
    </div>
    <button type="submit" class="btn btn-primary">Import Decedents</button>
</form>